
body {
    background-color: #2D0737;
}
header {
    position: relative;
    max-width: 550px;
    max-height: 350px;
    left: 420px;
    top: -86px;
}
nav {
    position: relative;
    max-width: 1318px;
    height: 60px;
    left: 61px;
    top: 217px;
    
    background: #3C1E47;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    position: fixed;
}
a{
    color: #FFFFFF;
    text-decoration: none;
    margin: none;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
    }
li{
    display: inline;
    margin: 75px;
}
h2 {
    font-family: 'Inter';
    color: #FFFFFF;
    text-align: center;

}
text {
    font-family: 'Inter', sans-serif;
    text-align: center;

}
p{
    font-family: 'inter', sans-serif;
}
img{
    
}